
<ion-header>
    <ion-navbar></ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        {{user.firstName}} {{user.lastName}}
      </ion-row>
      <ion-row>
        {{user.email}}
      </ion-row>
      <ion-row>
        {{user.city}}
      </ion-row>
      <ion-row>
        {{user.phone}}
      </ion-row>
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <ion-list-header>Ideas</ion-list-header>
    <button ion-item *ngFor="let idea of ideas" (click)="ideaSelected($event, idea)">
      {{idea.title}}
    </button>
  </ion-list>
</ion-content>
