<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{pageTitle}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addUser()"><ion-icon name="add"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let user of allUsers" (click)="userSelected($event, user)">
            {{user.firstName}} {{user.lastName}}
        </button>
    </ion-list>
</ion-content>
